// Body
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
// Typography
$green: #1abc9c;
$blue: #3742fa;
$red: #e74c3c;
$yellow: #f1c40f;
$purple: #9b59b6;
$orange: #d35400;
// 15px to rem
$font-size-base: 0.9375rem;
$line-height-base: 1.6;
// $primary: black;
$border-radius: 0.5rem;
//$input-padding-y: 0.6rem;
// body

//$body-color: #3f454f;

// input
$input-bg: #f4f6f9;
$input-btn-focus-box-shadow: none;

$link-color: $blue;
// Bootstrap
@import "bootstrap/scss/bootstrap";

label {
    color: $gray-600;
    margin-bottom: 0.5rem;
    // text-transform: uppercase;
}

.auth-wrapper {
    h1 {
        font-family: "Playfair Display", serif;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
}

//
.nav-item {
    .nav-link.active {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: $primary;
            border-radius: 3px 0 3px 0;
        }
    }
}
